*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner
{
width: 100%;
height: 100vh;
background-image: linear-gradient(rgba(0,0,0,.75),rgba(0,0,0,.75)),url(img.jpg);
background-size: cover;
background-position: center;
}
.navbar
{
    width: 90%;
    margin: 0px 20px 10px 50px;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo
{
  width: 120px;
  cursor: pointer;  
  
}
.navbar ul li 
{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a 
{
  text-decoration: none;
  color: #fff;  
  text-transform: uppercase;
}

.navbar ul li a:hover 
{
  text-decoration: none;
  color: blue;  
  text-transform: uppercase;
 
}
.content
{
  width:100% ;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
}
.content h1
{
  font-size: 70px;
  margin-top: 80px;
  color:orchid;
}
.content p
{
  margin: 20px auto;
  font-weight: 100;
  line-height: 25px;
}
button
{
width: 200px;
padding: 15px 0;
text-align: center;
margin: 20px 10px;
border-radius: 0px;
font-size: 1.2em;
border: 2px solid #009688;
background: transparent;
color: #fff;
cursor: pointer;
position: relative;
overflow: hidden;
}
button:hover
{
width: 200px;
padding: 15px 0;
text-align: center;
margin: 20px 10px;
border-radius: 0px;
font-size: 1.2em;
background: lightgreen;
box-shadow:0px 0px 15px currentcolor;
border:2px solid currentcolor;
color:blue;
cursor: pointer;
position: relative;
overflow: hidden;
}
.main{
  margin: 20px 0;
  margin-left:20px;
  margin-right: 2px;
}
.heading{
font-size: 2em;
font-family: sans-serif;
font-weight: bold;
text-transform: uppercase;
color:red;
text-shadow:2px 2px 4px red;

}
.imgset{
 margin-left: 20px;
 margin-right: 20px;
 padding: 10px 10px;
 text-align: center;
 

}
.imgset img{
  width:350px;
  height:300px;
  padding: 10px 10px;
  border-radius:20px;
 
  opacity: 0.7;
}
.imgset img:hover{
  width:350px;
  height:300px;
  border: 2px;
  padding: 10px 10px;
  opacity: 1;
}
.heading02{
  margin:20px 10px ;
  padding: 20px 10px;
}
.contact-us02{
  padding: 30px 20px;
  text-align: center;
  color:gray ;
  font-size: 1.3em;
}
.contact-us02 img{
  width: 120px;
  height: 70px;
  margin:0px 20px;
}
.heading2{
  margin:20px 10px ;
}
.contact-us{
  padding: 10px 20px;
  text-align: center;
  color:red ;
  font-size: 1em;
}
.contact-us p{
font-size: 1.2em;
font-family: sans-serif;
margin: 10px 20px;
padding: 20px 200px;
color: black;
}
.contact-us img{
  width: 200px;
  height: 80px;
  margin:0px 10px;
}
input[type="button"]
{
  width: 130px;
  height: 35px;
  border-radius:10px ;
  background-color: lightgreen;
}
input[type="button"]:hover
{
  width: 130px;
  height: 35px;
  border-radius:10px ;
  background-color: green;
  color:white;
  
}
footer{
  width: 100%;
  height: 50vh;
  background: #262626;
  align-items: center;
  }
  .f-contact{
      color: white;
      width: 90%;
      display: flex;
      justify-content: space-between;
     padding: 20px 30px;
      margin-top: 2em;
      border-bottom: 1px solid rgba(255,255,255,0.2);
  }
  .f-contact p{
      line-height: 2em;
      font-size: 14px;
      color: grey;
      cursor: pointer;
  }
  .f-contact p:hover{
      color: white;
  }
  